@charset "UTF-8";

@-ms-viewport {width: device-width;}

html {
  font-size: 62.5%; /* 10px */
}

body {
  margin: 0 auto;
  font-family: 'メイリオ',
  'Hiragino Kaku Gothic Pro', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* -----------------
 * parts
   ----------------- */

.heading {
  display: block;
  color: #d57328;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  padding: 30px 20px 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid #fff;
}

.heading_sub {
  font-size: 1.8rem;
}

/* -----------------
 * header
   ----------------- */

.header_position {
  position: relative;
}

.header_position .header_img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header_position h1 {
  margin: 0;
  padding: 0;
}



.logo_img {
  margin: auto;
  padding: 0;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}

.logo_img:hover {
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  transform: translateY(10px);
}

/* @media */
@media (max-width:420px) {
}

/* -----------------
 * header menu
   ----------------- */

.menu {
  margin: 0;
  padding: 0;
}

.navList {
  display: table;
  table-layout: fixed;
  width: 86.5rem;
  margin: 0 auto;
  padding: 0;
  font-size: 1.8rem;
  list-style: none ;
  text-align: center;
}

.menuItem {
  display: table-cell;
  text-align: center;
  border-left: dashed 1px #aaa;
  font-weight: bold;
}

.menuItem :hover {
  color: #da7943;
}

.menu :nth-child(6) {
  border-right: dashed 0.1rem #aaa;
}

.menuLink {
  margin: 0;
  padding: 0;
  color: #5E1939;
  text-decoration: none;
  transition: 0.2s;
}


.menuItemSub {
  display: block;
  font-size: 1.4rem;
}

.menuLinkActive {
  color: #da7943;
}

@media (max-width:420px) {
}

/* -----------------
 * NEWS
   ----------------- */

.news {
  margin: 5px auto 0 auto;
  padding: 20px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsHeading {
  margin-bottom: 10px;
}


.newsList {
  border: solid 2px #aaa;
  background: #fff;
  margin: 0;
  padding: 18px;
  font-size: 1.8rem;
  list-style: none;
  width: 360px;
}

.newsList :nth-child(4) {
  border-bottom: none;
}

.newsItem_cat {
   font-size: 1.1rem;
   background: #d57328;
   padding: 2px 4px;
   border-radius: 4px;
   color: #fff;
 }

.newsItem_cat_menu {
  background-color: #A70707;
}

.newsItem_time {
  font-size: 1.1rem;
  color: #555;
  margin: 10px;
}

.newsItemLink {
  display: block;
  padding: 5px;
  margin: 5px;
  transition: 0.2s;
}

.newsItemLink:hover {
  background: #fce993;
  border-radius: 4px;
}

.newsItem {
  padding: 5px;
  border-bottom: dashed 1px #aaa;
  font-size: 1.4rem;
}

@media (max-width:420px) {
}

/* -----------------
 * SPECIAL
   ----------------- */

.special {
  padding: 60px 10px;
  background: url(img/special_bg.jpg) 50%;
  background-size: cover;
}

.spHeading {
  margin: 0px auto 5px auto;
  padding: 15px 0px;
  width: 7em;
  color: #9D265D;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  border: solid 2px #FCFCFC;
  font-size: 3.8rem;
  text-align: center;
}

.spHeading_sb {
  font-size: 1.8rem;
  display: block;
}

.specialContainer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: auto;
}

.specialItem {
  position: relative;
  margin: 20px;
  background-color: rgba(255,255,255,0.9);
  font-size: 1.4rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.specialItem:hover {
  box-shadow: 5px 5px 5px rgba(255,255,255,0.2),
              -5px 5px 5px rgba(255,255,255,0.2),
              5px -5px 5px rgba(255,255,255,0.2),
              -5px -5px 5px rgba(255,255,255,0.2);
}

.specilItem_img {
  margin: 0ox;
  padding: 10px;
  width: 380px;
}

.specialNumber {
  position: absolute;
  left: 45%;
  top: 250px;
  width: 2em;
  height: 2em;
  line-height: 2;
  color: #fff;
  background-color: #9D265D;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
}

.specialContentTitle {
  margin: 0 0 0 10px;
  padding: 3px 0 3px 10px;
  font-size: 2.4rem;
  font-weight: bold;
  color: #9D265D;
  border-left: solid 5px #9D265D;
}

.specialContentText {
  margin: 18px 0 18px 15px;
  padding: 0;
  font-size: 1.8rem;
}

.specialLink {
  margin: 20px auto;
  width: 170px;
  padding: 15px 20px;
  border: 1px solid #9d265d;
  background-color: #9D265D;
  display: block;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.specialLink:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #d57328;
}

@media (max-width:420px) {
}

/* -----------------
 * MENU PICKUP
   ----------------- */

.menu_pickup {
  padding: 60px 10px;
  background: url(img/menu_bg.jpg) 50%;
  background-size: cover;
}

.menuPickupTitle {
  margin: 0px auto 5px auto;
  padding: 15px 0px;
  width: 10em;
  color: #A70707;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  border: solid 2px #FCFCFC;
  font-size: 3.8rem;
  text-align: center;
}

.menuPickupTitle_sub {
  font-size: 1.8rem;
  display: block;
}

.menuPickupContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menuPickupItem {
  margin: 10px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  box-shadow: 5px 5px 5px #505050;
  transition: 0.35s
}

.pickAni_1:hover {
  transform: translateY(-15px);
}

.pickAni_2:hover {
  transform: scale(1.05);
}

.pickAni_3:hover {
  transform: rotate(360deg);
}

.pickAni_4:hover {
  transform: skewX(-3deg);
}

.pickAni_5:hover {
  transform: rotateY(30deg);
}

.pickAni_6 {
  transition-timing-function: cubic-bezier(0.5, -2.5, 0.5, 3.5);
}

.pickAni_6:hover {
  transform: translateX(10px);
}

.menuPickupProduct {
  margin: 0;
  padding: 0 10px 0 10px;
  color: #A70707;
  background-color: rgba(255,255,255,0.6);
  border-right: solid 5px #A70707;
  border-left: solid 5px #A70707;
  border-radius: 5px 15px;
  font-size: 2.1rem;
  font-weight: bold;
  top: 65%;
  left: 9%;
  position: absolute;
}

.menuPickupBox {
  margin: 0;
  padding: 5px 5px;
  width: 400px;
  line-height: 23px;
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  border-right: solid 5px #A70707;
  border-left: solid 5px #A70707;
  top: 76%;
  left: 9%;
}

.menuPickupDescription {
  color: #000;
  font-size: 1.6rem;
}

.menuPickupPrice {
  font-size: 1.4rem;
  color: #000;
  text-align: right;
}

.menuPickupLink {
  margin: 20px auto;
  width: 170px;
  padding: 15px 20px;
  border: 1px solid #9d265d;
  background-color: #A70707;
  display: block;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.menuPickupLink:hover {
  border-radius: 50%;
  background: #d57328;
}

@media (max-width:420px) {
}

/* -----------------
 * footer menu
   ----------------- */

.footer .menu {
  margin: 5px 0;
  padding: 0;
}

.menuList {
  display: table;
  table-layout: fixed;
  width: 86.5rem;
  margin: 0 auto;
  padding: 0;
  font-size: 1.8rem;
  list-style: none ;
  text-align: center;
}

.menu li {
  display: table-cell;
  text-align: center;
  border-left: dashed 0.1rem #aaa;
}

@media (max-width:420px) {
}

/* -----------------
 * footer
   ----------------- */

.footer_content {
  background-image: url(img/footer_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 270px;
}

.footerContainer {
  display: flex;
  justify-content: center;
}

.footerItemLo {
  margin: 10px 0;
}

.footerItemFa {
  align-self: center;
}

.footer_img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.fa {
  font-size: 6rem;
  color: #23648D;
  margin: 10px;
  background-color: #fff;
  line-height: 0.7;
  border-radius: 10px;
  text-shadow: 1px 1px #fff,
              -1px -1px #fff,
              -1px 1px #fff,
               1px -1px #fff;
  transition: 0.2s;
}

.faAn :hover {
  color: #c37b07;
  transform: translateY(5px);
}

.footerConAd {
  margin: 0 0 15px 0;
  text-align: center;
  font-size: 1.4rem;
  color: #F8F8F8;
}

.footerConLink {
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 1.6rem;
  color: #F8F8F8;
}

.footerConLinkA {
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #9D265D;
  color: #FDFDFD;
  transition: 0.4s;
}

.footerConLink :hover {
  background-color: #D57328;
  border: solid 1px #fff;
  border-radius: 50%;
}

.footerConCop {
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  color: #F8F8F8;
}

.footer_logo {
  position: static;
  width: 360px;
}

.footerOblique {
  font-style: oblique;
}



@media (max-width:420px) {
}
