@charset "UTF-8";

@-ms-viewport {width: device-width;}

html{
  font-size: 62.5%; /* 10px */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'メイリオ',
  'Hiragino Kaku Gothic Pro', sans-serif;
}

/* -----------------
 * header
   ----------------- */

.header_position {
  position: relative;
}

.header_position .header_img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header_position h1 {
  margin: 0;
  padding: 0;
}



.logo_img {
  margin: auto;
  padding: 0;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}

.logo_img:hover {
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  transform: translateY(10px);
}

/* -----------------
 * header menu
   ----------------- */

.header .menu {
  margin: 0;
  padding: 0;
}

.header .menu ul {
  display: table;
  table-layout: fixed;
  width: 86.5rem;
  margin: 0 auto;
  padding: 0;
  font-size: 1.8rem;
  list-style: none ;
  text-align: center;
}

.header .menu li {
  display: table-cell;
  text-align: center;
  border-right: dashed 1px #aaa;
  border-left: dashed 1px #aaa;
}

.header .menu li a {
  margin: 0;
  padding: 0;
  color: #5E1939;
  text-decoration: none;
}

.header .menu li span {
  display: block;
  font-size: 1.4rem;
}

/* -----------------
 * NEWS
   ----------------- */

.news {
  margin: 5px auto 0 auto;
  padding: 20px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news h2 {
  margin: 0 8px 0 0;
  padding: 2rem;
  background: #F8F8F8;
  color: #D57328;
  font-size: 3.8rem;
  border: solid 2px #FCFCFC;
  border-radius: 50%;
  text-align: center;
}

.news h2 span {
  display: block;
  font-size: 1.8rem;
}

.newsList {
  border: solid 2px #aaa;
  background: #fff;
  margin: 0;
  padding: 18px;
  font-size: 1.8rem;
  list-style: none;
  width: 360px;
}

.newsList :nth-child(4) {
  border-bottom: none;
}

.newsList :hover {
  background-color: #eacf3e;
  border-radius: 4px;
}

.newsItem {
  padding: 5px;
  border-bottom: dashed 1px #aaa;
  font-size: 1.4rem;
}

.newsItem a {
  text-decoration: none;
  padding: 5px;
  color: #000;
}


.newsItem_cat {
  margin: 0 5px 0 0;
  padding: 2px 2px;
  border-radius: 4px;
  background-color: #D57328;
  color: #FDFDFD;
  font-size: 1.2rem;
}

.newsItem_time {
  font-size: 1.1rem;
}

.newsItem_cat_menu {
  background-color: #A70707;
}

/* -----------------
 * SPECIAL
   ----------------- */

.special {
  background-image: url(img/special_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.special h2 {
  margin: 0px auto 5px auto;
  padding: 30px 50px 40px 50px;
  width: 150px;
  color: #9D265D;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  border: solid 2px #FCFCFC;
  font-size: 3.8rem;
  text-align: center;
}

.special h2 span {
  font-size: 1.8rem;
  display: block;
}

.specialContainer {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: auto;
}

.specialItem {
  margin: 20px;
  background-color: #fff;
  font-size: 1.4rem;
}

.specilItem_img {
  margin: 0ox;
  padding: 10px;
  width: 400px;
}

.specialLink {
  margin: 5px auto 20px auto;
  padding: 20px;
  width: 100px;
  height: 10px;
  background-color: #9D265D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.specialLink a {
  text-decoration: none;
  color: #fff;
}
/* -----------------
 * MENU PICKUP
   ----------------- */

.menu_pickup {
  background-image: url(img/menu_bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

/* -----------------
 * footer menu
   ----------------- */

.footer .menu {
  margin: 0;
  padding: 0;
}

.footer .menu ul {
  display: table;
  table-layout: fixed;
  width: 86.5rem;
  margin: 0 auto;
  padding: 0;
  font-size: 1.8rem;
  list-style: none ;
  text-align: center;
}

.footer .menu li {
  display: table-cell;
  text-align: center;
  border-right: dotted 0.1rem #aaa;
  border-left: dotted 0.1rem #aaa;
}

.footer .menu li a {
  margin: 0;
  padding: 0;
  color: #5E1939;
  text-decoration: none;
}

.footer .menu li span {
  display: block;
  font-size: 1.4rem;
}


/* -----------------
 * footer
   ----------------- */

.footer_content {
  background-image: url(img/footer_bg.jpg);
  background-size: cover;
}

.footer_content .footer_img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.footer_content p {
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
  color: #F8F8F8;
}

.footer_content p a {
  text-decoration: none;
  padding: 0.2rem 1.5rem;
  border-radius: 0.4rem;
  background-color: #D57328;
  color: #FDFDFD;
}

.footer_logo {
  position: static;
  width: 200px;
}