@charset "UTF-8";
/* --------------------------------
 * base
 * -------------------------------- */

html {
    font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-size: 1.4rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* --------------------------------
 * parts
 * -------------------------------- */

.heading {
  display: block;
  color: #d57328;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
  padding: 30px 20px 20px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border: 1px solid #fff;
}

.heading_sub {
  font-size: 1.8rem;
}

.hidden {
  display: none;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn {
  display: block;
  margin: 20px auto;
  width: 170px;
  padding: 15px 20px;
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  background: #9d265d;
  border: 1px solid #9d265d;
  color: #fff;
  transition: 0.3s;
}

.btn:hover {
  border: 1px solid #fff;
  border-radius: 50%;
  background: #d57328;
}

.btn_guide {
  width: 140px;
  background: #1b70d3;
  border-color: #1b70d3;
  font-size: 2rem;
}

.btn_guide:hover {
  background: #009556;
}

/* @media */
@media (max-width: 600px) {
  .heading {
    font-size: 2.6rem;
  }
  .btn {
    padding: 10px 15px;
    font-size: 1.6rem;
  }
}

/* --------------------------------
 * header
 * -------------------------------- */

.header_box {
  position: relative;
  font-size: 0;
}

.header_img {
  max-width: 100%;
}

.header_ttl {
  font-size: 5rem;
  text-align: center;
  margin: 10px;
}

.header_logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 800px;
  margin: auto;
  transition: 0.3s;
}

.header_logo:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translateY(10px);
}

  /* nav */
.nav {
  padding: 5px 0;
  background: #fff;
}

.navList {
  display: table;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  line-height: 1.2;
}

.navItem {
  display: table-cell;
  font-size: 1.8rem;
  font-weight: bold;
  border-left: 1px dashed #aaa;
  width: 8em;
}

.navItem:last-child {
  border-right: 1px dashed #aaa;
}

.navItem_link {
  display: block;
  padding: 5px;
  color: #5e1939;
  transition: 0.2s;
}

.navItem_link:hover {
  color: #da7943;
}

.navItem_sub {
  font-size: 0.7em;
}

.navItem_link-active {
  color: #da7943;
}

/* @media */
@media (max-width: 800px) {
  .header_logo {
    width: 400px;
  }
  .nav_item {
    font-size: 1.4rem;
  }
}

@media (max-width: 450px) {
  .header_logo {
    width: 350px;
  }
  .nav_item {
    font-size: 8px;
  }
  .nav_item_sub {
    display: none;
  }
}

/* --------------------------------
 * news
 * -------------------------------- */

 .news {
   padding: 20px;
   background: #f5f5f5;
 }

 .news_heading {
   margin-bottom: 10px;
 }

 .newsList {
   width: 400px;
   border: 2px solid #aaa;
   padding: 5px;
   margin:  0 10px 0;
   background: #fdfdfd;
 }

 .newsItem {
   border-bottom: 1px dashed #aaa;
   padding: 0 10px;
   line-height: 1.8;
 }

 .newsItem:last-child {
   border-bottom: none;
 }

 .newsItem_cat {
   font-size: 1.1rem;
   background: #d57328;
   padding: 2px 4px;
   border-radius: 4px;
   color: #fff;
 }

 .newsItem_cat-menu {
   background: #a70707;
 }

 .newsItem_time {
   font-size: 1.1rem;
   color: #555;
   margin: 10px;
 }

 .newsItem_link {
   display: block;
   padding: 5px;
   margin: 5px;
   transition: 0.2s;
 }

 .newsItem_link:hover {
   background: #fce993;
   border-radius: 4px;
 }

/* --------------------------------
 * special
 * -------------------------------- */

.sp {
  padding: 60px 10px;
  background: url(../images/special_bg.jpg) 50%;
  background-size: cover;
}

.sp_heading {
  color: #9d265d;
  width: 7em;
  margin: 0 auto;
}

.spItem {
  position: relative;
  max-width: 400px;
  margin: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.spItem:hover {
  box-shadow: 5px 5px 5px rgba(255,255,255,0.2),
              -5px 5px 5px rgba(255,255,255,0.2),
              5px -5px 5px rgba(255,255,255,0.2),
              -5px -5px 5px rgba(255,255,255,0.2);
}

.spItem_img {
  max-width: 380px;
  height: auto;
}

.spItem_num {
  position: absolute;
  left: 0;
  right: 0;
  top: 250px;
  margin: 0 auto;
  border-radius: 50%;
  background: #9d265d;
  font-size: 2rem;
  width: 2em;
  height: 2em;
  line-height: 2.1;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.spItem_ttl {
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 2.4rem;
  color: #9d265d;
  border-left: 5px solid;
}

.spItem_txt {
  font-size: 1.8rem;
  padding: 5px;
}

/* @media */
@media (max-width:420px) {
  .spItem_img {
    max-width: 280px;
  }
  .spItem {
    max-width: 300px;
  }
  .spItem_num {
    top: 180px;
  }
}

/* --------------------------------
 * menu
 * -------------------------------- */

.menu {
  padding: 60px 10px;
  background: url(../images/menu_bg.jpg) 50%;
  background-size: cover;
}

.menu_heading {
  color: #a70707;
  width: 10em;
  margin: 0 auto;
}

.menuItem {
  position: relative;
  width: 500px;
  height: 300px;
  margin: 10px;
  box-sizing: content-box;
  border: 8px solid #fff;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.menuItem:hover {
  transform: scale(1.05);
}

.menuItem_bg01 {
  background: url(../images/menu/01.jpg) 50%;
  background-size: cover;
}

.menuItem_bg01:hover {
  transform: translateY(-20px);
}

.menuItem_bg02 {
  background: url(../images/menu/02.jpg) 50%;
  background-size: cover;
}

.menuItem_bg03 {
  background: url(../images/menu/03.JPG) 50%;
  background-size: cover;
  transition: 0.5s;
}

.menuItem_bg03:hover {
  transform: rotate(360deg);
}

.menuItem_bg04 {
  background: url(../images/menu/04.JPG) 50%;
  background-size: cover;
}

.menuItem_bg04:hover {
  transform: skewX(-3deg);
}

.menuItem_bg05 {
  background: url(../images/menu/05.jpg) 50%;
  background-size: cover;
}

.menuItem_bg05:hover {
  transform: rotateY(30deg);
}

.menuItem_bg06 {
  background: url(../images/menu/06.jpg) 50%;
  background-size: cover;
  transition-timing-function: cubic-bezier(0.5, -2.5, 0.5, 3.5);
}

.menuItem_bg06:hover {
  transform: translatex(10px);
}

.menuItem_desc {
  position: absolute;
  width: 90%;
  padding: 0 10px 5px;
  bottom: 5px;
  left: 5%;
}

.menuItem_ttl {
  display: inline-block;
  padding: 0px 10px;
  margin: 5px 0;
  font-size: 2rem;
  color: #a70707;
  border-left: 5px solid;
  border-right: 5px solid;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px 15px;
}

.menuItem_txt {
  font-size: 1.6rem;
  padding: 5px;
  border-left: 5px solid #a70707;
  border-right: 5px solid #a70707;
  background: rgba(255, 255, 255, 0.7);
}

.menuItem_price {
  font-size: 1.4rem;
  text-align: right;
  border-left: 5px solid #a70707;
  border-right: 5px solid #a70707;
  background: rgba(255, 255, 255, 0.7);
}

.menu_btn {
  background: #a70707;
}

/* @media */
@media(max-width:520px) {
  .menuItem {
    width: 350px;
    height: 210px;
  }
}

/* --------------------------------
 * footer
 * -------------------------------- */

.footer {
  padding-bottom: 5px;
  background: url(../images/footer_bg.jpg) 50%;
  color: #fff;
}

.footer_logo {
  margin: 10px 20px;
  transition: 0.3s;
}

.footer_logo:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translateY(5px);
}

.fa {
  font-size: 6rem;
  margin: 10px;
  color: #23648d;
  text-shadow: 1px 1px #fff,
               1px -1px #fff,
               -1px -1px #fff,
               -1px 1px #fff;
  background: #fff;
  border-radius: 10px;
  line-height: 0.7;
  transition: 0.2s;
}

.fa:hover {
  color: #d57328;
  transform: translateY(5px);
}

.footer_copy {
  text-align: center;
}

.footer_btn {
  margin: 10px auto;
  padding: 5px 10px;
  width: 100px;
  font-size: 1.6rem;
  font-weight: normal;
  border-radius: 8px;
}

.footer_company {
  text-align: center;
  margin: 10px 0;
}

/* @media */
@media (max-width:400px) {
  .footer_logo {
    width: 330px;
  }
  .footer_company {
    font-size: 1.2rem;
  }
}
