@charset"utf-8";
html{
  font-size: 62.5%;
}
body{
  margin: 0;
  padding: 0;
/*  width: 100%;*/
  font-size: 1.4rem;
}
*{
  margin: 0;
  padding: 0;
}
h1{
  display: none;
}
a{
  text-decoration: none;
}
.heading{
  text-align: center;
  font-size: 1.4em;
  color: #D57328;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}
.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.btn{
  display: block;
  margin: auto;
  width: 120px;
  height: 60px;
  text-align: center;
  transition: 0.3s;
  background: #A4265D;
  color: white;
}
.btn:hover{
  border: 1px solid #aaa;
  border-radius: 50%;
  background: #D57328;
}
/* ヘッダー */
.headerBlock{
  position: relative;
}
.headerImg{
  width: 100%;
}
.headerLogo{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 800px;
}
.headerLogo:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translateY(10px);
}
.nav{
  padding: 5px 0;
  background: white;
}
.navList{
  display: table;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 1.2;
}
.navList_item{
  display: table-cell;
  font-weight: bold;
  width: 8em;
  border-left: 1px dashed #aaa;
}
.navList_end{
  border-right: 1px dashed #aaa;
}
.navList_item a{
  padding: 5px;
  display: block;
  color: #5E1939;
  transition: 0.2s;
}
.navList_item a:hover{
  color: #DA7943;
}
/* ニュース */
.news{
  margin: 0 auto;
  padding: 15px;
  background-color: #F5F5F5;
}
.newsList{
  margin: 0 10px 0;
  padding: 5px;
  width: 400px;
  border: 2px solid #aaa;
  background: #fdfdfd;
}
.newsList_item{
  list-style: none;
  border-bottom: 1px dashed #aaa;
}
.newsList_end{
  border-style: none;
}
.newsList_item a{
  transition: 0.2s;
}
.newslist_item a:hover{
  background: #FCE993;
  border-radius: 4px;
}
/* こだわり */
.special{
  padding: 50px 10px;
  background: url(../images/special_bg.jpg) 50%;
  background-size: cover;
}
.special_heading{
  margin: 0 auto 10px;
  width: 250px;
  color: #A4265D;
}
.specialItem{
/*
  margin: 20px;
  padding: 10px;
*/
  max-width: 400px;
  background: white;
}
.specialItem_img{
  margin: auto;
  max-width: 380px;
  height: auto;
}
.specialItem_title{
  color: #9D265D;
}
/* メニュー */
.menu{
  padding: 10px;
  background: url(../images/menu_bg.jpg) 50%;
  background-size: cover;
}
.menu_heading{
  margin: 20px auto 10px auto;
  width: 350px;
  color: #A70707;
}
.menuItem{
  margin: 0 auto 20px auto;
  height: 300px;
  width: 500px;
}
.menuItem_01{
  background-image: url(../images/menu/01.jpg);
  background-size: cover;
}
.menuItem_01:hover{
  transform: translateY(-20px);
}
.menuItem_02{
  background-image: url(../images/menu/02.jpg);
  background-size: cover;
}
.menuItem_02:hover{
  transform: scale(1.05);
}
.menuItem_03{
  background-image: url(../images/menu/03.jpg);
  background-size: cover;
  transition: 0.5s;
}
.menuItem_03:hover{
  transform: rotate(360deg);
}
.menuItem_04{
  background-image: url(../images/menu/04.jpg);
  background-size: cover;
}
.menuItem_04:hover{
  transform: skewX(-3deg);
}
.menuItem_05{
  background-image: url(../images/menu/05.jpg);
  background-size: cover;
}
.menuItem_05:hover{
  transform: rotate(30deg);
}
.menuItem_06{
  background-image: url(../images/menu/06.jpg);
  background-size: cover;
}
.menuItem_06:hover{
  transform: translatex(10px);
}
.menu_btn{
  border-style: none;
  background: #A80A08;
}
/* フッター */
.footer{
  padding-bottom: 5px;
  background: url(../images/footer_bg.jpg) 50%;
  color: white;
}
.footerLogo{
  margin: 10px 20px;
  transition: 0.3s;
}
.footerLogo:hover{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: translateY(10px);
}
.footer_company{
  text-align: center;
}
.footer_copy{
  text-align: center;
}